# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ------------------------
# Dependencies
# ------------------------
node_modules/
**/node_modules/
admin/node_modules/
.pnp
.pnp.js

# ------------------------
# Environment & Secrets
# ------------------------
.env
.env.*
!.env.example

# ------------------------
# Build & Production
# ------------------------
/build
admin/build
dist/
.cache/
out/
.next/
.tmp/

# ------------------------
# Testing & Coverage
# ------------------------
/coverage
*.lcov

# ------------------------
# Logs & Debug
# ------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ------------------------
# IDE / System Files
# ------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# ------------------------
# Misc / Other
# ------------------------
*.zip
*.tar
*.tgz
*.bak
*.old
*.orig

# ------------------------
# Local development
# ------------------------
/admin/.cache/
/admin/.parcel-cache/
/admin/.next/
/admin/dist/
/admin/temp/
/admin/tmp/

# local env and large files
.env
stripe-cli.zip
admin/node_modules/

